@use '../variables' as *;
@use '../mixins' as *;





section:not(.hero) {
    .container {
        .heading {

            h2 {

                &::after {
                    height: 4px;
                }
            }
        }
    }
}




section.hero{
    .custom-shape-divider-bottom-1771138429, .custom-shape-divider-bottom-1771153755{
        display: none;
        .shape-fill {
            display: none;
        }
        svg {
            display: none;
        }
    }
    .custom-shape-divider-bottom-1771153943 {
        display: revert;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
        .shape-fill {
            display: revert;
            fill: #FFFFFF;
        }
        svg {
            display: revert;
            width: calc(207% + 1.3px);
            height: 47px;
        }
    }
   
}




section.why-choose-us {
    .container {
        .heading {
            margin: 60px auto 40px auto;

            h2 {
                padding-bottom: 16px;
                margin-bottom: 24px;
            }
        }

        .content {
            grid-template-columns: 100%;

            .col {
                height: 160px;
                @media (max-width: 360px) {
                    height: max-content;
                    padding-bottom: $g-24; // Extra breathing room for wrapped text
                }
            }
        }
    }
}





// Tools Section
section.tools{
    .container{
        display: grid;
        grid-template-columns: 100%;
        .left{
            display: none;
        }
        .right{
            .heading{
                padding: 0;
                max-width: unset;
                margin-left: unset;
                img{
                    display: block;
                    height: calc(100vw / 1.7);
                    object-fit: cover;
                    object-position: center;
                    margin-bottom: 32px;
                }
                a{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}






section.services-alt {
    .container {
        .heading {
            max-width: 800px;
            margin: 60px auto 5rem auto;
            text-align: center;

            h2 {
                padding-bottom: 16px;
                margin-bottom: 16px;
                position: relative;

                &::after {
                    left: 50%;
                    bottom: -1px;
                    transform: translateX(-50%);
                }
            }

            .toggle {
                margin: 1rem auto;
                display: inline-block;
                border: 1px solid #0a8080;
                border-radius: 4rem;
                display: flex;
                align-items: center;
                gap: 20px;
                width: max-content;
                padding: 8px 12px;
                position: relative;

                button {
                    padding: 8px 12px;
                    border-radius: 4rem;
                    z-index: 1;
                    color: #121212;

                    &.active {
                        color: #fff;
                        transition: all .3s ease;
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    left: var(--after-left, 4px);
                    /* default left */
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100px;
                    height: 48px;
                    background-color: #377686;
                    display: inline-block;
                    border-radius: 4rem;
                    transition: left .2s;
                }
            }
        }

        .content {

            .g1,
            .g2 {
                display: none;

                &.active {
                    display: grid;
                    grid-template-columns: 100%;
                    gap: 40px;
                }

                .col {
                    background: #fff;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 20px 16px 32px 16px;
                    min-height: 240px;
                    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px -3px, rgba(0, 0, 0, 0.14) 0px 2px 5px 0px;
                    border-radius: 16px;
                    width: 100%;
                    margin: auto;

                    h3 {
                        font-size: 24px;
                        font-weight: 400;
                    }

                    a {
                        font-weight: 500;
                        font-size: 16px;
                        color: #0662bb;
                        display: flex;
                        align-items: center;
                        gap: 2px;
                    }
                }
            }
        }
    }
}





section.banner-1{
    .container{
        color: $wh;
        background-image: $blue-gradient;
        padding: $g-60 $g-xl;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 32px;
        .left{
            h3, p{
                margin-bottom: $g-md;
                line-height: 1.5;
            }
            a{
                font-size: $t-xs;
                display: flex;
                align-items: center;
                .txt{
                    font-weight: lighter;
                    text-decoration: underline;
                }
                .icon{
                    font-size: 12px;
                }
            }
        }
        .right{
            a{
                @include button-style-1;
            }
        }
    }
}





section.about-us {
    margin: 90px 0 40px 0;
    display: grid;
    grid-template-columns: 100%;
    height: fit-content;
    background-color: #fff;
    gap: 32px;

    .left-col {
        height: 400px;
        background: url("/assets/images/home/mc4.JPG");
        background-size: cover;
        background-position: center top;
    }

    .heading {
        margin-bottom: 16px;
        padding-bottom: 16px;
    }

    .content {
        padding: 0px 16px;
    }




}





section.cards-container {
    .container {
        .content {
            justify-items: center;
            // align-items: center;
            grid-template-columns: 100%;
        }
    }
}
