/**
 * Button Style 1: The standard action pattern.
 * Uses a smooth transition and flexible width.
 */
/**
 * Paragraph Style 2: Optimized for readability.
 * Uses a balanced line-height for that "clean art" feel.
 */
section:not(.hero) .container .heading h2::after {
  height: 4px;
}

section.hero .custom-shape-divider-bottom-1771138429, section.hero .custom-shape-divider-bottom-1771153755 {
  display: none;
}
section.hero .custom-shape-divider-bottom-1771138429 .shape-fill, section.hero .custom-shape-divider-bottom-1771153755 .shape-fill {
  display: none;
}
section.hero .custom-shape-divider-bottom-1771138429 svg, section.hero .custom-shape-divider-bottom-1771153755 svg {
  display: none;
}
section.hero .custom-shape-divider-bottom-1771153943 {
  display: revert;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
section.hero .custom-shape-divider-bottom-1771153943 .shape-fill {
  display: revert;
  fill: #FFFFFF;
}
section.hero .custom-shape-divider-bottom-1771153943 svg {
  display: revert;
  width: calc(207% + 1.3px);
  height: 47px;
}

section.why-choose-us .container .heading {
  margin: 60px auto 40px auto;
}
section.why-choose-us .container .heading h2 {
  padding-bottom: 16px;
  margin-bottom: 24px;
}
section.why-choose-us .container .content {
  grid-template-columns: 100%;
}
section.why-choose-us .container .content .col {
  height: 160px;
}
@media (max-width: 360px) {
  section.why-choose-us .container .content .col {
    height: -moz-max-content;
    height: max-content;
    padding-bottom: 24px;
  }
}

section.tools .container {
  display: grid;
  grid-template-columns: 100%;
}
section.tools .container .left {
  display: none;
}
section.tools .container .right .heading {
  padding: 0;
  max-width: unset;
  margin-left: unset;
}
section.tools .container .right .heading img {
  display: block;
  height: 58.8235294118vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-bottom: 32px;
}
section.tools .container .right .heading a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.services-alt .container .heading {
  max-width: 800px;
  margin: 60px auto 5rem auto;
  text-align: center;
}
section.services-alt .container .heading h2 {
  padding-bottom: 16px;
  margin-bottom: 16px;
  position: relative;
}
section.services-alt .container .heading h2::after {
  left: 50%;
  bottom: -1px;
  transform: translateX(-50%);
}
section.services-alt .container .heading .toggle {
  margin: 1rem auto;
  display: inline-block;
  border: 1px solid #0a8080;
  border-radius: 4rem;
  display: flex;
  align-items: center;
  gap: 20px;
  width: -moz-max-content;
  width: max-content;
  padding: 8px 12px;
  position: relative;
}
section.services-alt .container .heading .toggle button {
  padding: 8px 12px;
  border-radius: 4rem;
  z-index: 1;
  color: #121212;
}
section.services-alt .container .heading .toggle button.active {
  color: #fff;
  transition: all 0.3s ease;
}
section.services-alt .container .heading .toggle::after {
  content: "";
  position: absolute;
  left: var(--after-left, 4px);
  /* default left */
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 48px;
  background-color: #377686;
  display: inline-block;
  border-radius: 4rem;
  transition: left 0.2s;
}
section.services-alt .container .content .g1,
section.services-alt .container .content .g2 {
  display: none;
}
section.services-alt .container .content .g1.active,
section.services-alt .container .content .g2.active {
  display: grid;
  grid-template-columns: 100%;
  gap: 40px;
}
section.services-alt .container .content .g1 .col,
section.services-alt .container .content .g2 .col {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 16px 32px 16px;
  min-height: 240px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px -3px, rgba(0, 0, 0, 0.14) 0px 2px 5px 0px;
  border-radius: 16px;
  width: 100%;
  margin: auto;
}
section.services-alt .container .content .g1 .col h3,
section.services-alt .container .content .g2 .col h3 {
  font-size: 24px;
  font-weight: 400;
}
section.services-alt .container .content .g1 .col a,
section.services-alt .container .content .g2 .col a {
  font-weight: 500;
  font-size: 16px;
  color: #0662bb;
  display: flex;
  align-items: center;
  gap: 2px;
}

section.banner-1 .container {
  color: #ffffff;
  background-image: linear-gradient(304.78deg, #152457 -12.16%, #2A4D8F 61.1%);
  padding: 60px 64px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
section.banner-1 .container .left h3, section.banner-1 .container .left p {
  margin-bottom: 20px;
  line-height: 1.5;
}
section.banner-1 .container .left a {
  font-size: 14px;
  display: flex;
  align-items: center;
}
section.banner-1 .container .left a .txt {
  font-weight: lighter;
  text-decoration: underline;
}
section.banner-1 .container .left a .icon {
  font-size: 12px;
}
section.banner-1 .container .right a {
  background: #E1AE2A;
  display: flex;
  align-items: center;
  padding: 10px 24px;
  border-radius: 2.5rem;
  font-weight: 500;
  transition: all 0.25s ease;
  width: -moz-max-content;
  width: max-content;
  color: #121212;
  cursor: pointer;
}
section.banner-1 .container .right a:hover {
  background: #F2CB4D;
}

section.about-us {
  margin: 90px 0 40px 0;
  display: grid;
  grid-template-columns: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
  gap: 32px;
}
section.about-us .left-col {
  height: 400px;
  background: url("/assets/images/home/mc4.JPG");
  background-size: cover;
  background-position: center top;
}
section.about-us .heading {
  margin-bottom: 16px;
  padding-bottom: 16px;
}
section.about-us .content {
  padding: 0px 16px;
}

section.cards-container .container .content {
  justify-items: center;
  grid-template-columns: 100%;
}/*# sourceMappingURL=home.css.map */
